# The directory Mix will write compiled artifacts to.
/_build/

# The directory Mix will write compiled artifacts to when in docker.
/_build_docker/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# app-specific coverage results go to their respective apps
/apps/*/cover/

# The directory Mix downloads your dependencies sources to when in docker.
/deps_docker/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Dev sqllite db
*ecto_simple.sqlite3*

# Developers config file
your_config_file.exs

# results of perftesting and profiling with default arguments
fprof.trace
perf_result_*

*.statistics

# Common virtualenv directory
env/

# Elixirls data directory
.elixir_ls

#test files
/apps/omg_child_chain/priv/test_fees_file*

# VS Code config file
.vscode/

# Docker
src/
docker-compose.override.yml

# Sobelow
.sobelow

#generated applications and source
priv/apps/child_chain_api
priv/apps/watcher_info_api
priv/apps/watcher_security_critical_api

# where Geth gets it's snapshot data
data/
data1/
data2/
# local test setup
localchain_contract_addresses.env


# the famous mac .DS_Store
.DS_Store

# IntelliJ files
.idea/
*.iml

#vs code
.tool_versions
