version: "2.3"
services:
  postgres:
    image: postgres:9.6.13-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: omisego_dev
      POSTGRES_PASSWORD: omisego_dev
      POSTGRES_DB: omisego_dev
    healthcheck:
      test: pg_isready -U omisego_dev
      interval: 5s
      timeout: 3s
      retries: 5

  geth:
    image: ethereum/client-go:v1.8.27
    entrypoint:
      - /bin/sh
      - -c
      - |
          
          apk add --update curl
          # Configures geth with the deployer and authority accounts. This includes:
          #   1. Configuring the deployer's keystore
          #   2. Configuring the authority's keystore
          #   3. Configuring the keystores' password
          #   4. Unlocking the accounts by their indexes
          echo "" > /tmp/geth-blank-password
          # Starts geth
          
          geth --miner.gastarget 7500000 \
            --miner.gasprice "10" \
            --datadir data/ \
            --syncmode 'full' \
            --networkid 1337 \
            --gasprice '1' \
            --keystore=./data/geth/keystore/ \
            --password /tmp/geth-blank-password \
            --unlock "0,1" \
            --rpc --rpcapi personal,web3,eth,net --rpcaddr 0.0.0.0 --rpcvhosts=* --rpcport=8545 \
            --ws --wsaddr 0.0.0.0 --wsorigins='*' \
            --mine 
            
    ports:
      - "8545:8545"
      - "8546:8546"
    expose:
      - "8546"
      - "8545"
    volumes:
      - ./data:/data
    healthcheck:
      test: curl geth:8545
      interval: 5s
      timeout: 3s
      retries: 5

  childchain:
    image: omisego/child_chain:latest
    command: "full_local"
    environment:
      - ETHEREUM_NETWORK=LOCALCHAIN
      - LOCALCHAIN_TXHASH_CONTRACT=0xc47317b0de4c6ccc9a9fb858ad3ee858c2ee8ade3aed0fa9bcab7f7dad27fe12
      - LOCALCHAIN_AUTHORITY_ADDRESS=0xc0f780dfc35075979b0def588d999225b7ecc56f
      - LOCALCHAIN_CONTRACT_ADDRESS_PLASMA_FRAMEWORK=0xc673e4ffcb8464faff908a6804fe0e635af0ea2f
      - LOCALCHAIN_CONTRACT_ADDRESS_ETH_VAULT=0x0433420dee34412b5bf1e29fbf988ad037cc5db7
      - LOCALCHAIN_CONTRACT_ADDRESS_ERC20_VAULT=0x04badc20426bc146453c5b879417b25029fa6c73
      - LOCALCHAIN_CONTRACT_ADDRESS_PAYMENT_EXIT_GAME=0xe95661547f69b16ac88e5d06813c2e6a2c432048
      - ETHEREUM_RPC_URL=http://geth:8545
      - ETHEREUM_WS_RPC_URL=ws://geth:8546
      - CHILD_CHAIN_URL=http://childchain:9656
      - ERLANG_COOKIE=develop
      - NODE_HOST=127.0.0.1
      - APP_ENV=local_development_child_chain
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/app/.omg/data
      - ETHEREUM_EVENTS_CHECK_INTERVAL_MS=800
    restart: always
    ports:
      - "9656:9656"
    expose:
      - "9656"
    healthcheck:
      test: curl childchain:9656
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      geth:
        condition: service_healthy

  watcher:
    image: omisego/watcher:latest
    command: "full_local"
    environment:
      - ETHEREUM_NETWORK=LOCALCHAIN
      - LOCALCHAIN_TXHASH_CONTRACT=0xc47317b0de4c6ccc9a9fb858ad3ee858c2ee8ade3aed0fa9bcab7f7dad27fe12
      - LOCALCHAIN_AUTHORITY_ADDRESS=0xc0f780dfc35075979b0def588d999225b7ecc56f
      - LOCALCHAIN_CONTRACT_ADDRESS_PLASMA_FRAMEWORK=0xc673e4ffcb8464faff908a6804fe0e635af0ea2f
      - LOCALCHAIN_CONTRACT_ADDRESS_ETH_VAULT=0x0433420dee34412b5bf1e29fbf988ad037cc5db7
      - LOCALCHAIN_CONTRACT_ADDRESS_ERC20_VAULT=0x04badc20426bc146453c5b879417b25029fa6c73
      - LOCALCHAIN_CONTRACT_ADDRESS_PAYMENT_EXIT_GAME=0xe95661547f69b16ac88e5d06813c2e6a2c432048
      - ETHEREUM_RPC_URL=http://geth:8545
      - ETHEREUM_WS_RPC_URL=ws://geth:8546
      - CHILD_CHAIN_URL=http://childchain:9656
      - ERLANG_COOKIE=develop
      - NODE_HOST=127.0.0.1
      - PORT=7434
      - APP_ENV=local_development_watcher
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/app/.omg/data
      - ETHEREUM_EVENTS_CHECK_INTERVAL_MS=800
    restart: always
    ports:
      - "7434:7434"
    expose:
      - "7434"
    healthcheck:
      test: curl watcher:7434
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      childchain:
        condition: service_healthy

  watcher_info:
    image: omisego/watcher_info:latest
    command: "full_local"
    environment:
      - CONTRACT_EXCHANGER_URL=http://plasma-contracts:8000/contracts
      - ETHEREUM_RPC_URL=http://geth:8545
      - ETHEREUM_WS_RPC_URL=ws://geth:8546
      - CHILD_CHAIN_URL=http://childchain:9656
      - ETHEREUM_NETWORK=LOCALCHAIN
      - DATABASE_URL=postgresql://omisego_dev:omisego_dev@postgres:5432/omisego_dev
      - ERLANG_COOKIE=develop
      - NODE_HOST=127.0.0.1
      - PORT=7534
      - APP_ENV=local_development_watcher_info
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/app/.omg/data
    restart: always
    ports:
      - "7534:7534"
    expose:
      - "7534"
    healthcheck:
      test: curl watcher_info:7534
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      plasma-contracts:
        condition: service_healthy
      childchain:
        condition: service_healthy
      postgres:
        condition: service_healthy
