version: "2.3"
services:
  postgres:
    image: postgres:9.6.13-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: omisego_dev
      POSTGRES_PASSWORD: omisego_dev
      POSTGRES_DB: omisego_dev
    healthcheck:
      test: pg_isready -U omisego_dev
      interval: 5s
      timeout: 3s
      retries: 5

  geth:
    image: ethereum/client-go:v1.9.12
    entrypoint:
      - /bin/sh
      - -c
      - |
          apk add --update curl
          # Configures geth with the deployer and authority accounts. This includes:
          #   1. Configuring the deployer's keystore
          #   2. Configuring the authority's keystore
          #   3. Configuring the keystores' password
          #   4. Unlocking the accounts by their indexes
          # CAREFUL with --allow-insecure-unlock!
          echo "" > /tmp/geth-blank-password
          # Starts geth
          # Websocket is not used by the applications but enabled for debugging/testing convenience
          geth --miner.gastarget 7500000 \
            --miner.gasprice "10" \
            --nodiscover \
            --maxpeers 0 \
            --datadir data/ \
            --syncmode 'full' \
            --networkid 1337 \
            --gasprice '1' \
            --keystore=./data/geth/keystore/ \
            --password /tmp/geth-blank-password \
            --unlock "0,1" \
            --rpc --rpcapi personal,web3,eth,net --rpcaddr 0.0.0.0 --rpcvhosts=* --rpcport=8545 \
            --ws --wsaddr 0.0.0.0 --wsorigins='*' \
            --mine \
            --allow-insecure-unlock
    ports:
      - "8545:8545"
    expose:
      - "8545"
    volumes:
      - ./data:/data
    healthcheck:
      test: curl geth:8545
      interval: 5s
      timeout: 3s
      retries: 5

  childchain:
    image: omisego/child_chain:latest
    command: "full_local"
    container_name: childchain
    env_file:
      - ./localchain_contract_addresses.env
    environment:
      - ETHEREUM_NETWORK=LOCALCHAIN
      - ETHEREUM_RPC_URL=http://geth:8545
      - APP_ENV=local_docker_development
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/data
      - ETHEREUM_EVENTS_CHECK_INTERVAL_MS=800
      - ETHEREUM_STALLED_SYNC_THRESHOLD_MS=20000
      - FEE_CLAIMER_ADDRESS=0x3b9f4c1dd26e0be593373b1d36cee2008cbeb837
      - FEE_ADAPTER=file
      - FEE_SPECS_FILE_PATH=/dev-artifacts/fee_specs.dev.json
      - FEE_BUFFER_DURATION_MS=30000
      - LOGGER_BACKEND=console
      - RELEASE_COOKIE=development
      - NODE_HOST=127.0.0.1
    restart: always
    ports:
      - "9656:9656"
    expose:
      - "9656"
    volumes:
      - ./data:/data
      - ./priv/dev-artifacts:/dev-artifacts
    healthcheck:
      test: curl childchain:9656
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      geth:
        condition: service_healthy

  watcher:
    image: omisego/watcher:latest
    command: "full_local"
    container_name: watcher
    env_file:
      - ./localchain_contract_addresses.env
    environment:
      - ETHEREUM_NETWORK=LOCALCHAIN
      - ETHEREUM_RPC_URL=http://geth:8545
      - CHILD_CHAIN_URL=http://childchain:9656
      - PORT=7434
      - APP_ENV=local_docker_development
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/data
      - ETHEREUM_EVENTS_CHECK_INTERVAL_MS=800
      - ETHEREUM_STALLED_SYNC_THRESHOLD_MS=20000
      - ETHEREUM_BLOCK_TIME_SECONDS=1
      - EXIT_PROCESSOR_SLA_MARGIN=5520
      - EXIT_PROCESSOR_SLA_MARGIN_FORCED=TRUE
      - LOGGER_BACKEND=console
      - RELEASE_COOKIE=development
      - NODE_HOST=127.0.0.1
    restart: always
    ports:
      - "7434:7434"
    expose:
      - "7434"
    volumes:
      - ./data:/data
    healthcheck:
      test: curl watcher:7434
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      childchain:
        condition: service_healthy

  watcher_info:
    image: omisego/watcher_info:latest
    command: "full_local"
    container_name: watcher_info
    env_file:
      - ./localchain_contract_addresses.env
    environment:
      - ETHEREUM_NETWORK=LOCALCHAIN
      - ETHEREUM_RPC_URL=http://geth:8545
      - CHILD_CHAIN_URL=http://childchain:9656
      - DATABASE_URL=postgresql://omisego_dev:omisego_dev@postgres:5432/omisego_dev
      - PORT=7534
      - APP_ENV=local_docker_development
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/data
      - ETHEREUM_EVENTS_CHECK_INTERVAL_MS=800
      - ETHEREUM_BLOCK_TIME_SECONDS=1
      - EXIT_PROCESSOR_SLA_MARGIN=5520
      - EXIT_PROCESSOR_SLA_MARGIN_FORCED=TRUE
      - LOGGER_BACKEND=console
      - RELEASE_COOKIE=development
      - NODE_HOST=127.0.0.1
    restart: always
    ports:
      - "7534:7534"
    expose:
      - "7534"
    volumes:
      - ./data:/data
    healthcheck:
      test: curl watcher_info:7534
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
    depends_on:
      childchain:
        condition: service_healthy
      postgres:
        condition: service_healthy
