version: "2.1"
services:
  postgres:
    image: postgres:9.6.13-alpine
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: omisego_dev
      POSTGRES_PASSWORD: omisego_dev
      POSTGRES_DB: omisego_dev
    healthcheck:
      test: pg_isready -U omisego_dev
      interval: 5s
      timeout: 3s
      retries: 5

  plasma-deployer:
    image: omisego/plasma-deployer:latest
    environment:
      - ETH_CLIENT_HOST=geth
    ports:
      - "8000:8000"
    expose:
      - "8000"
    healthcheck:
      test: curl plasma-deployer:8000
      interval: 7s
      timeout: 3s
      retries: 15
    depends_on:
      geth:
        condition: service_healthy

  geth:
    image: ethereum/client-go:v1.8.21
    entrypoint: /bin/sh -c "apk add curl && geth --targetgaslimit "8000000" --dev --dev.period 1 --rpc --rpcapi personal,web3,eth,net --rpcaddr 0.0.0.0 --rpcvhosts=* --rpcport=8545 --ws --wsaddr 0.0.0.0 --wsorigins='*'"
    ports:
      - "8545:8545"
      - "8546:8546"
    expose:
      - "8546"
      - "8545"
    healthcheck:
      test: curl geth:8545
      interval: 5s
      timeout: 3s
      retries: 5

  childchain:
    image: omisego/child_chain:latest
    command: "full_local"
    environment:
      - EXIT_PERIOD_SECONDS=86400
      - CONTRACT_EXCHANGER_URL=http://plasma-deployer:8000
      - ETHEREUM_RPC_URL=http://geth:8545
      - ETHEREUM_WS_RPC_URL=ws://geth:8546
      - CHILD_CHAIN_URL=http://childchain:9656
      - ETHEREUM_NETWORK=LOCALCHAIN
      - ERLANG_COOKIE=develop
      - NODE_HOST=127.0.0.1
      - APP_ENV=local_development_child_chain
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/app/.omg/data
    restart: always
    ports:
      - "9656:9656"
    expose:
      - "9656"
    healthcheck:
      test: curl childchain:9656
      interval: 7s
      timeout: 3s
      retries: 15
    depends_on:
      plasma-deployer:
        condition: service_healthy
      geth:
        condition: service_healthy

  watcher:
    image: omisego/watcher:latest
    command: "full_local"
    environment:
      - CONTRACT_EXCHANGER_URL=http://plasma-deployer:8000
      - ETHEREUM_RPC_URL=http://geth:8545
      - ETHEREUM_WS_RPC_URL=ws://geth:8546
      - CHILD_CHAIN_URL=http://childchain:9656
      - ETHEREUM_NETWORK=LOCALCHAIN
      - DATABASE_URL=postgres://omisego_dev:omisego_dev@postgres:5432/omisego_dev
      - ERLANG_COOKIE=develop
      - NODE_HOST=127.0.0.1
      - APP_ENV=local_development_watcher
      - DD_HOSTNAME=datadog
      - DD_DISABLED=true
      - DB_PATH=/app/.omg/data
    restart: always
    ports:
      - "7434:7434"
    expose:
      - "7434"
    healthcheck:
      test: curl watcher:7434
      interval: 5s
      timeout: 3s
      retries: 5
    depends_on:
      plasma-deployer:
        condition: service_healthy
      childchain:
        condition: service_healthy
      postgres:
        condition: service_healthy

