{<<"app">>,<<"proper">>}.
{<<"build_tools">>,[<<"mix">>,<<"rebar3">>,<<"make">>]}.
{<<"description">>,
 <<"QuickCheck-inspired property-based testing tool for Erlang.">>}.
{<<"files">>,
 [<<"src/proper.app.src">>,<<"src/proper.erl">>,<<"src/proper_arith.erl">>,
  <<"src/proper_array.erl">>,<<"src/proper_dict.erl">>,
  <<"src/proper_fsm.erl">>,<<"src/proper_gb_sets.erl">>,
  <<"src/proper_gb_trees.erl">>,<<"src/proper_gen.erl">>,
  <<"src/proper_gen_next.erl">>,<<"src/proper_orddict.erl">>,
  <<"src/proper_ordsets.erl">>,<<"src/proper_prop_remover.erl">>,
  <<"src/proper_queue.erl">>,<<"src/proper_sa.erl">>,
  <<"src/proper_sets.erl">>,<<"src/proper_shrink.erl">>,
  <<"src/proper_statem.erl">>,<<"src/proper_symb.erl">>,
  <<"src/proper_target.erl">>,<<"src/proper_transformer.erl">>,
  <<"src/proper_types.erl">>,<<"src/proper_typeserver.erl">>,
  <<"src/proper_unicode.erl">>,<<"src/proper_unused_imports_remover.erl">>,
  <<"src/vararg.erl">>,<<"include/proper.hrl">>,
  <<"include/proper_common.hrl">>,<<"include/proper_internal.hrl">>,
  <<"include/proper_param_adts.hrl">>,<<"rebar.config">>,<<"configure">>,
  <<"Makefile">>,<<"COPYING">>,<<"README.md">>,<<"THANKS">>,
  <<"check_escripts.sh">>,<<"clean_doc.sh">>,<<"clean_temp.sh">>,
  <<"mix.exs">>]}.
{<<"licenses">>,[<<"GPL">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/proper-testing/proper">>}]}.
{<<"maintainers">>,
 [<<"Manolis Papadakis">>,<<"Eirini Arvaniti">>,<<"Kostis Sagonas">>]}.
{<<"name">>,<<"proper">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.3.0">>}.
