openapi: 3.0.0
info:
  version: 1.0.0
  title: Watcher Info API
  description: |
    API specification of the Watcher's Informational Service
    Error codes are available in [html](https://github.com/omisego/elixir-omg/blob/master/docs/api_specs/errors.md#error-codes-description) format.
  contact:
    name: OmiseGO
    email: omisego@omisego.co
  license:
    name: 'Apache 2.0: https://www.apache.org/licenses/LICENSE-2.0'
    url: 'https://omisego.network/'
servers:
  - url: 'https://watcher-info.ropsten.v1.omg.network/'
  - url: 'http://localhost:7534/'
tags:
  - name: Account
    description: Account related API.
  - name: Block
    description: Block related API.
  - name: Deposit
    description: Deposit related API.
  - name: Transaction
    description: Transaction related API.
  - name: Fees
    description: Fees related API.
  - name: Stats
    description: Stats related API.
  - name: Configuration
    description: Configuration related API.
paths:
  /alarm.get:
    get:
      tags:
        - Alarm
      summary: 'Provides alarms related to system memory, cpu and storage and application specific alarms.'
      description: |
        **Note:** Service operator alarms.
      operationId: alarm_get
      responses:
        '200':
          description: System alarms
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            anyOf:
                              - type: object
                                properties:
                                  ethereum_connection_error:
                                    type: object
                                    properties:
                                      node:
                                        type: string
                                      reporter:
                                        type: string
                              - type: object
                                properties:
                                  ethereum_stalled_sync:
                                    type: object
                                    properties:
                                      ethereum_height:
                                        type: integer
                                        minimum: 0
                                      synced_at:
                                        type: string
                                        format: date-time
                              - type: object
                                properties:
                                  invalid_fee_source:
                                    type: object
                                    properties:
                                      node:
                                        type: string
                                      reporter:
                                        type: string
                              - type: object
                                properties:
                                  statsd_client_connection:
                                    type: object
                                    properties:
                                      node:
                                        type: string
                                      reporter:
                                        type: string
                              - type: object
                                properties:
                                  statsd_client_connection:
                                    type: array
                                    items:
                                      type: string
                                    default: []
                              - type: object
                                properties:
                                  disk_almost_full:
                                    type: string
                    example:
                      data:
                        - disk_almost_full: /dev/null
                          ethereum_connection_error: {}
                          ethereum_stalled_sync: {}
                          system_memory_high_watermark: []
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /configuration.get:
    get:
      tags:
        - Configuration
      summary: Provides configuration values
      description: |
        **Note:** Configuration values.
      operationId: configuration_get
      responses:
        '200':
          description: Configuration response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            deposit_finality_margin:
                              type: integer
                              format: int256
                            contract_semver:
                              type: string
                            exit_processor_sla_margin:
                              type: integer
                              format: int256
                            network:
                              type: string
                    example:
                      data:
                        - deposit_finality_margin: 10
                          contract_semver: 1.0.0.1+a1s29s8
                          exit_processor_sla_margin: 5520
                          network: RINKEBY
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /account.get_balance:
    post:
      tags:
        - Account
      summary: Returns the balance of each currency for the given account address.
      operationId: account_get_balance
      requestBody:
        description: HEX-encoded address of the account and pagination fields
        required: true
        content:
          application/json:
            schema:
              title: AddressBodySchema
              type: object
              properties:
                address:
                  type: string
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 200
              required:
                - address
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                limit: 100
                page: 2
      responses:
        '200':
          description: Account balance successful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                            amount:
                              type: integer
                              format: int256
                    example:
                      data:
                        - currency: '0xbfdf85743ef16cfb1f8d4dd1dfc74c51dc496434'
                          amount: 20
                        - currency: '0x0000000000000000000000000000000000000000'
                          amount: 1000000000
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /account.get_utxos:
    post:
      tags:
        - Account
      summary: Gets all utxos belonging to the given address.
      operationId: account_get_utxos
      requestBody:
        description: HEX-encoded address of the account and pagination fields
        required: true
        content:
          application/json:
            schema:
              title: AddressBodySchema
              type: object
              properties:
                address:
                  type: string
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 200
              required:
                - address
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                limit: 100
                page: 2
      responses:
        '200':
          description: Account utxos succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            blknum:
                              type: integer
                              format: int64
                            txindex:
                              type: integer
                              format: int16
                            otype:
                              type: integer
                              format: int16
                            oindex:
                              type: integer
                              format: int8
                            utxo_pos:
                              type: integer
                              format: int256
                            creating_txhash:
                              type: string
                            spending_txhash:
                              type: string
                            owner:
                              type: string
                            currency:
                              type: string
                            amount:
                              type: integer
                              format: int256
                            inserted_at:
                              type: string
                            updated_at:
                              type: string
                      data_paging:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int32
                            default: 1
                          limit:
                            type: integer
                            format: int32
                            default: 200
                    example:
                      data:
                        - amount: 10
                          blknum: 123000
                          creating_txhash: '0x2c499b95ccb6bf7b923049b32b03a613d30882a448102136e544b302119eb722'
                          currency: '0x0000000000000000000000000000000000000000'
                          inserted_at: '2020-02-10T12:07:32Z'
                          oindex: 0
                          otype: 1
                          owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                          spending_txhash: null
                          txindex: 111
                          updated_at: '2020-02-15T04:07:57Z'
                          utxo_pos: 123000001110000
                      data_paging:
                        page: 1
                        limit: 200
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /account.get_transactions:
    post:
      tags:
        - Account
      summary: Gets a list of transactions for given account address.
      operationId: account_get_transactions
      requestBody:
        description: 'Account address, block number and other criteria'
        required: true
        content:
          application/json:
            schema:
              title: GetAllTransactionsBodySchema
              type: object
              properties:
                address:
                  type: string
                blknum:
                  type: integer
                  format: int64
                txtypes:
                  type: array
                  items:
                    type: integer
                metadata:
                  type: string
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 200
                end_datetime:
                  type: integer
                  format: int32
              required:
                - limit
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                metadata: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                txtypes:
                  - 1
                blknum: 68290000
                limit: 100
                page: 2
                end_datetime: 1592476174
      responses:
        '200':
          description: Transactions succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful list operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: array
                        items:
                          type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0+abcdefa
                      success: true
                      data: []
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            txindex:
                              type: integer
                              format: int16
                            txtype:
                              type: integer
                              format: int16
                            txhash:
                              type: string
                            metadata:
                              type: string
                            txbytes:
                              type: string
                            inserted_at:
                              type: string
                            updated_at:
                              type: string
                            block:
                              type: object
                              properties:
                                blknum:
                                  type: integer
                                  format: int64
                                hash:
                                  type: string
                                eth_height:
                                  type: integer
                                  format: int64
                                timestamp:
                                  type: integer
                                  format: int64
                                tx_count:
                                  type: integer
                                  format: int64
                                inserted_at:
                                  type: string
                                updated_at:
                                  type: string
                            inputs:
                              type: array
                              items:
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  otype:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                  currency:
                                    type: string
                                  amount:
                                    type: integer
                                    format: int256
                                  creating_txhash:
                                    type: string
                                  spending_txhash:
                                    type: string
                                  inserted_at:
                                    type: string
                                  updated_at:
                                    type: string
                            outputs:
                              type: array
                              items:
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  otype:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                  currency:
                                    type: string
                                  amount:
                                    type: integer
                                    format: int256
                                  creating_txhash:
                                    type: string
                                  spending_txhash:
                                    type: string
                                  inserted_at:
                                    type: string
                                  updated_at:
                                    type: string
                      data_paging:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int32
                            default: 1
                          limit:
                            type: integer
                            format: int32
                            default: 200
                    example:
                      data:
                        - block:
                            timestamp: 1540365586
                            hash: '0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec'
                            eth_height: 97424
                            blknum: 68290000
                            inserted_at: '2020-02-10T12:07:32Z'
                            updated_at: '2020-02-15T04:07:57Z'
                          txindex: 0
                          txtype: 1
                          txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                          metadata: '0x00000000000000000000000000000000000000000000000000000048656c6c6f'
                          txbytes: 0x5df13a6bee20000...
                          inserted_at: '2020-02-10T12:07:32Z'
                          updated_at: '2020-02-15T04:07:57Z'
                          inputs:
                            - blknum: 1000
                              txindex: 111
                              otype: 1
                              oindex: 0
                              utxo_pos: 1000001110000
                              owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                              currency: '0x0000000000000000000000000000000000000000'
                              creating_txhash: '0x40d65df1c3b1156d813d6bf96d5bd3b5bcf6e6588fc18c2a2ba564c6a64d4320'
                              spending_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              amount: 20000000
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                          outputs:
                            - blknum: 68290000
                              txindex: 5113
                              otype: 1
                              oindex: 0
                              utxo_pos: 68290000051130000
                              owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                              currency: '0x0000000000000000000000000000000000000000'
                              amount: 15000000
                              creating_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              spending_txhash: null
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                            - blknum: 68290000
                              txindex: 5113
                              otype: 1
                              oindex: 1
                              utxo_pos: 68290000051130000
                              owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                              currency: '0x0000000000000000000000000000000000000000'
                              amount: 5000000
                              creating_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              spending_txhash: null
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                      data_paging:
                        page: 1
                        limit: 200
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /block.get:
    post:
      tags:
        - Block
      summary: Retrieves a single block for the given block number.
      description: |
        Intended for operations requiring info for a specific block only.
        Returns a single block object for the given block number. The returned object includes transaction count but not associated transactions - for which you can use transaction.all with blknum in the request body.
      operationId: block_get
      requestBody:
        description: Block number
        required: true
        content:
          application/json:
            schema:
              title: GetBlockBodySchema
              type: object
              properties:
                blknum:
                  type: integer
                  format: int64
              example:
                blknum: 68290000
      responses:
        '200':
          description: Block succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          blknum:
                            type: integer
                            format: int64
                          hash:
                            type: string
                          eth_height:
                            type: integer
                            format: int64
                          timestamp:
                            type: integer
                            format: int64
                          tx_count:
                            type: integer
                            format: int64
                          inserted_at:
                            type: string
                          updated_at:
                            type: string
                    example:
                      data:
                        timestamp: 1540365586
                        hash: '0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec'
                        eth_height: 97424
                        blknum: 68290000
                        tx_count: 2
                        inserted_at: '2020-02-10T12:07:32Z'
                        updated_at: '2020-02-15T04:07:57Z'
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /block.all:
    post:
      tags:
        - Block
      summary: Gets all blocks (can be limited with various filters).
      description: |
        Returns a list of blocks ordered by the highest block number first. Intended to be used for presenting an overview of most recent blocks.
        Note: Due to eventual consistency nature of the informational API, blocks may later than deposits, exits, etc.
      operationId: block_all
      requestBody:
        description: The supported request parameters for /block.all
        content:
          application/json:
            schema:
              title: AllBlocksBodySchema
              type: object
              properties:
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 100
              example:
                page: 2
                limit: 100
      responses:
        '200':
          description: Blocks succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful list operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: array
                        items:
                          type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0+abcdefa
                      success: true
                      data: []
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            blknum:
                              type: integer
                              format: int64
                            hash:
                              type: string
                            eth_height:
                              type: integer
                              format: int64
                            timestamp:
                              type: integer
                              format: int64
                            tx_count:
                              type: integer
                              format: int64
                            inserted_at:
                              type: string
                            updated_at:
                              type: string
                      data_paging:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int32
                            default: 1
                          limit:
                            type: integer
                            format: int32
                            default: 100
                    example:
                      data:
                        - blknum: 68290000
                          hash: '0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec'
                          eth_height: 97424
                          timestamp: 1540365586
                          tx_count: 2
                          inserted_at: '2020-02-10T12:07:32Z'
                          updated_at: '2020-02-15T04:07:57Z'
                      data_paging:
                        page: 1
                        limit: 100
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /deposit.all:
    post:
      tags:
        - Deposit
      summary: Gets a paginated list of deposit for the given address.
      description: |
        Returns a list of deposits ordered by Ethereum height in descending order for the given address.
      operationId: deposit_all
      requestBody:
        description: The supported request parameters for /deposit.all. The "limit" and "page" parameters are optional.
        required: true
        content:
          application/json:
            schema:
              title: AllDepositsBodySchema
              type: object
              properties:
                address:
                  type: string
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 100
              example:
                page: 2
                limit: 100
                address: '0xb01cb6f56d798a62d1e0bace406c73a122c39c9d'
      responses:
        '200':
          description: /deposit.all succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful list operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: array
                        items:
                          type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0+abcdefa
                      success: true
                      data: []
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            event_type:
                              type: string
                            root_chain_txhash:
                              type: string
                            log_index:
                              type: integer
                            eth_height:
                              type: integer
                              format: int64
                            inserted_at:
                              type: string
                            updated_at:
                              type: string
                            txoutputs:
                              type: array
                              items:
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  otype:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                  currency:
                                    type: string
                                  amount:
                                    type: integer
                                    format: int256
                                  creating_txhash:
                                    type: string
                                  spending_txhash:
                                    type: string
                                  inserted_at:
                                    type: string
                                  updated_at:
                                    type: string
                      data_paging:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int32
                            default: 1
                          limit:
                            type: integer
                            format: int32
                            default: 100
                    example:
                      data:
                        - event_type: deposit
                          inserted_at: '2020-05-15T12:37:40Z'
                          eth_height: 168637
                          log_index: 0
                          root_chain_txhash: '0x63c056f122f5bf30bf8119ec0a2184b73f975951229995a427ea58d904eaab85'
                          txoutputs:
                            - blknum: 1
                              txindex: 0
                              otype: 1
                              oindex: 0
                              utxo_pos: 1000000000
                              owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                              currency: '0x0000000000000000000000000000000000000000'
                              creating_txhash: null
                              spending_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              amount: 20000000
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-10T12:07:32Z'
                      data_paging:
                        page: 1
                        limit: 100
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /transaction.all:
    post:
      tags:
        - Transaction
      summary: Gets all transactions (can be limited with various filters).
      description: |
        Digests the details of the transaction, by listing the value of outputs, aggregated by currency. Intended to be used when presenting the little details about multiple transactions. For all details queries to `/transaction.get` should be made using the transaction's hash provided.
      operationId: transactions_all
      requestBody:
        description: 'Account address, block number and other criteria'
        required: true
        content:
          application/json:
            schema:
              title: GetAllTransactionsBodySchema
              type: object
              properties:
                address:
                  type: string
                blknum:
                  type: integer
                  format: int64
                txtypes:
                  type: array
                  items:
                    type: integer
                metadata:
                  type: string
                page:
                  type: integer
                  format: int32
                  default: 1
                limit:
                  type: integer
                  format: int32
                  default: 200
                end_datetime:
                  type: integer
                  format: int32
              required:
                - limit
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                metadata: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                txtypes:
                  - 1
                blknum: 68290000
                limit: 100
                page: 2
                end_datetime: 1592476174
      responses:
        '200':
          description: Transactions succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful list operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: array
                        items:
                          type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0+abcdefa
                      success: true
                      data: []
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            txindex:
                              type: integer
                              format: int16
                            txtype:
                              type: integer
                              format: int16
                            txhash:
                              type: string
                            metadata:
                              type: string
                            txbytes:
                              type: string
                            inserted_at:
                              type: string
                            updated_at:
                              type: string
                            block:
                              type: object
                              properties:
                                blknum:
                                  type: integer
                                  format: int64
                                hash:
                                  type: string
                                eth_height:
                                  type: integer
                                  format: int64
                                timestamp:
                                  type: integer
                                  format: int64
                                tx_count:
                                  type: integer
                                  format: int64
                                inserted_at:
                                  type: string
                                updated_at:
                                  type: string
                            inputs:
                              type: array
                              items:
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  otype:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                  currency:
                                    type: string
                                  amount:
                                    type: integer
                                    format: int256
                                  creating_txhash:
                                    type: string
                                  spending_txhash:
                                    type: string
                                  inserted_at:
                                    type: string
                                  updated_at:
                                    type: string
                            outputs:
                              type: array
                              items:
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  otype:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                  currency:
                                    type: string
                                  amount:
                                    type: integer
                                    format: int256
                                  creating_txhash:
                                    type: string
                                  spending_txhash:
                                    type: string
                                  inserted_at:
                                    type: string
                                  updated_at:
                                    type: string
                      data_paging:
                        type: object
                        properties:
                          page:
                            type: integer
                            format: int32
                            default: 1
                          limit:
                            type: integer
                            format: int32
                            default: 200
                    example:
                      data:
                        - block:
                            timestamp: 1540365586
                            hash: '0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec'
                            eth_height: 97424
                            blknum: 68290000
                            inserted_at: '2020-02-10T12:07:32Z'
                            updated_at: '2020-02-15T04:07:57Z'
                          txindex: 0
                          txtype: 1
                          txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                          metadata: '0x00000000000000000000000000000000000000000000000000000048656c6c6f'
                          txbytes: 0x5df13a6bee20000...
                          inserted_at: '2020-02-10T12:07:32Z'
                          updated_at: '2020-02-15T04:07:57Z'
                          inputs:
                            - blknum: 1000
                              txindex: 111
                              otype: 1
                              oindex: 0
                              utxo_pos: 1000001110000
                              owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                              currency: '0x0000000000000000000000000000000000000000'
                              creating_txhash: '0x40d65df1c3b1156d813d6bf96d5bd3b5bcf6e6588fc18c2a2ba564c6a64d4320'
                              spending_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              amount: 20000000
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                          outputs:
                            - blknum: 68290000
                              txindex: 5113
                              otype: 1
                              oindex: 0
                              utxo_pos: 68290000051130000
                              owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                              currency: '0x0000000000000000000000000000000000000000'
                              amount: 15000000
                              creating_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              spending_txhash: null
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                            - blknum: 68290000
                              txindex: 5113
                              otype: 1
                              oindex: 1
                              utxo_pos: 68290000051130000
                              owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                              currency: '0x0000000000000000000000000000000000000000'
                              amount: 5000000
                              creating_txhash: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                              spending_txhash: null
                              inserted_at: '2020-02-10T12:07:32Z'
                              updated_at: '2020-02-15T04:07:57Z'
                      data_paging:
                        page: 1
                        limit: 200
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /transaction.create:
    post:
      tags:
        - Transaction
      summary: Finds an optimal way to construct a transaction spending particular amount.
      description: |
        Given token, amount and spender, finds spender's inputs sufficient to perform a payment. If also provided with receiver's address, creates and encodes a transaction.
      operationId: createTransaction
      requestBody:
        description: The description of transaction to be crafted.
        required: true
        content:
          application/json:
            schema:
              title: CreateTransactionsBodySchema
              type: object
              properties:
                owner:
                  type: string
                payments:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: integer
                        format: int256
                      currency:
                        type: string
                      owner:
                        type: string
                    required:
                      - amount
                      - currency
                fee:
                  type: object
                  properties:
                    currency:
                      type: string
                  required:
                    - currency
                metadata:
                  type: string
              required:
                - owner
                - payments
                - fee
              example:
                owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                payments:
                  - amount: 100
                    currency: '0x0000000000000000000000000000000000000000'
                    owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                fee:
                  currency: '0x0000000000000000000000000000000000000000'
                metadata: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
      responses:
        '200':
          description: Transaction create successful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          result:
                            type: string
                            enum:
                              - complete
                              - intermediate
                          transactions:
                            type: array
                            items:
                              type: object
                              properties:
                                inputs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      blknum:
                                        type: integer
                                        format: int64
                                      txindex:
                                        type: integer
                                        format: int16
                                      oindex:
                                        type: integer
                                        format: int8
                                      otype:
                                        type: integer
                                        format: int8
                                      utxo_pos:
                                        type: integer
                                        format: int256
                                      owner:
                                        type: string
                                      currency:
                                        type: string
                                      amount:
                                        type: integer
                                        format: int256
                                      creating_txhash:
                                        type: string
                                      spending_txhash:
                                        type: string
                                      inserted_at:
                                        type: string
                                      updated_at:
                                        type: string
                                outputs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      amount:
                                        type: integer
                                        format: int256
                                      currency:
                                        type: string
                                      owner:
                                        type: string
                                fee:
                                  type: object
                                  properties:
                                    amount:
                                      type: integer
                                      format: int256
                                    currency:
                                      type: string
                                metadata:
                                  type: string
                                txbytes:
                                  type: string
                                sign_hash:
                                  type: string
                                typed_data:
                                  type: object
                                  properties:
                                    types:
                                      type: object
                                      properties:
                                        EIP712Domain:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                              type:
                                                type: string
                                        additionalProperties:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                              type:
                                                type: string
                                            required:
                                              - name
                                              - type
                                    primaryType:
                                      type: string
                                    domain:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        salt:
                                          type: string
                                        verifyingContract:
                                          type: string
                                        version:
                                          type: string
                                      required:
                                        - name
                                        - salt
                                        - verifyingContract
                                        - version
                                    message:
                                      type: object
                                      properties:
                                        input0:
                                          type: object
                                          properties:
                                            blknum:
                                              type: integer
                                              format: int64
                                            txindex:
                                              type: integer
                                              format: int16
                                            oindex:
                                              type: integer
                                              format: int8
                                        input1:
                                          type: object
                                          properties:
                                            blknum:
                                              type: integer
                                              format: int64
                                            txindex:
                                              type: integer
                                              format: int16
                                            oindex:
                                              type: integer
                                              format: int8
                                        input2:
                                          type: object
                                          properties:
                                            blknum:
                                              type: integer
                                              format: int64
                                            txindex:
                                              type: integer
                                              format: int16
                                            oindex:
                                              type: integer
                                              format: int8
                                        input3:
                                          type: object
                                          properties:
                                            blknum:
                                              type: integer
                                              format: int64
                                            txindex:
                                              type: integer
                                              format: int16
                                            oindex:
                                              type: integer
                                              format: int8
                                        output0:
                                          type: object
                                          properties:
                                            owner:
                                              type: string
                                            currency:
                                              type: string
                                            amount:
                                              type: integer
                                              format: int256
                                        output1:
                                          type: object
                                          properties:
                                            owner:
                                              type: string
                                            currency:
                                              type: string
                                            amount:
                                              type: integer
                                              format: int256
                                        output2:
                                          type: object
                                          properties:
                                            owner:
                                              type: string
                                            currency:
                                              type: string
                                            amount:
                                              type: integer
                                              format: int256
                                        output3:
                                          type: object
                                          properties:
                                            owner:
                                              type: string
                                            currency:
                                              type: string
                                            amount:
                                              type: integer
                                              format: int256
                                        metadata:
                                          type: string
                                      required:
                                        - input0
                                        - input1
                                        - input2
                                        - input3
                                        - output0
                                        - output1
                                        - output2
                                        - output3
                                        - metadata
                    example:
                      data:
                        result: complete
                        transactions:
                          - inputs:
                              - blknum: 123000
                                txindex: 111
                                oindex: 0
                                utxo_pos: 123000001110000
                                otype: 1
                                owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                                currency: '0x0000000000000000000000000000000000000000'
                                amount: 50
                                creating_txhash: '0x40d65df1c3b1156d813d6bf96d5bd3b5bcf6e6588fc18c2a2ba564c6a64d4320'
                                spending_txhash: null
                              - blknum: 277000
                                txindex: 2340
                                oindex: 3
                                utxo_pos: 277000023400003
                                otype: 1
                                owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                                currency: '0x0000000000000000000000000000000000000000'
                                amount: 75
                                creating_txhash: '0x40d65df1c3b1156d813d6bf96d5bd3b5bcf6e6588fc18c2a2ba564c6a64d4320'
                                spending_txhash: null
                            outputs:
                              - amount: 100
                                currency: '0x0000000000000000000000000000000000000000'
                                owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                              - amount: 20
                                currency: '0x0000000000000000000000000000000000000000'
                                owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                            fee:
                              amount: 5
                              currency: '0x0000000000000000000000000000000000000000'
                            metadata: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
                            txbytes: 0x5df13a6bee20000...
                            sign_hash: '0x7851b951edb0b9e88f0fc80e83461f71d0f4b1d4e44fae7d25a5d4ab6adc5d3d'
                            typed_data:
                              types:
                                EIP712Domain:
                                  - name: name
                                    type: string
                                  - name: version
                                    type: string
                                  - name: verifyingContract
                                    type: address
                                  - name: salt
                                    type: bytes32
                                Transaction:
                                  - name: input0
                                    type: Input
                                  - name: input1
                                    type: Input
                                  - name: input2
                                    type: Input
                                  - name: input3
                                    type: Input
                                  - name: output0
                                    type: Output
                                  - name: output1
                                    type: Output
                                  - name: output2
                                    type: Output
                                  - name: output3
                                    type: Output
                                  - name: metadata
                                    type: bytes32
                                Input:
                                  - name: blknum
                                    type: uint256
                                  - name: txindex
                                    type: uint256
                                  - name: oindex
                                    type: uint256
                                Output:
                                  - name: owner
                                    type: address
                                  - name: currency
                                    type: address
                                  - name: amount
                                    type: uint256
                              primaryType: Transaction
                              domain:
                                name: OMG Network
                                salt: '0xfad5c7f626d80f9256ef01929f3beb96e058b8b4b0e3fe52d84f054c0e2a7a83'
                                verifyingContract: '0x44de0ec539b8c4a4b530c78620fe8320167f2f74'
                                version: '1'
                              message:
                                input0:
                                  blknum: 123000
                                  txindex: 111
                                  oindex: 0
                                input1:
                                  blknum: 277000
                                  txindex: 2340
                                  oindex: 3
                                input2:
                                  blknum: 0
                                  txindex: 0
                                  oindex: 0
                                input3:
                                  blknum: 0
                                  txindex: 0
                                  oindex: 0
                                output0:
                                  owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                                  currency: '0x0000000000000000000000000000000000000000'
                                  amount: 100
                                output1:
                                  owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                                  currency: '0x0000000000000000000000000000000000000000'
                                  amount: 20
                                output2:
                                  owner: '0x0000000000000000000000000000000000000000'
                                  currency: '0x0000000000000000000000000000000000000000'
                                  amount: 0
                                output3:
                                  owner: '0x0000000000000000000000000000000000000000'
                                  currency: '0x0000000000000000000000000000000000000000'
                                  amount: 0
                                metadata: '0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21'
        '500':
          description: Returns an internal server error
          content:
            application/json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /transaction.merge:
    post:
      tags:
        - Transaction
      summary: Constructs merge transactions.
      description: "- Given address and currency parameters, returns a list of merge transactions for correspondng \nUTXOs –\_grouped in ascending order of value. \n- Given between two and four UTXO positions, returns a merge transaction for the corresponding\nUTXOs. (These UTXOs must have the same owner and currency)\n"
      operationId: mergeTransaction
      requestBody:
        description: The description of merge transaction to be crafted.
        content:
          application/json:
            schema:
              title: MergeTransactionsBodySchema
              type: object
              properties:
                address:
                  type: string
                currency:
                  type: string
                utxo_positions:
                  type: array
                  items:
                    type: string
            examples:
              UTXO positions:
                value:
                  utxo_positions:
                    - '811000000000001'
                    - '811000000000002'
              address and currency:
                value:
                  address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                  currency: '0x0000000000000000000000000000000000000000'
      responses:
        '200':
          description: Transaction merge successful response
          content:
            application/json:
              schema:
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                      service_name:
                        type: string
                    required:
                      - service_name
                      - version
                      - success
                      - data
                    example:
                      service_name: watcher_info
                      version: 1.0.0+abcdefa
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transactions:
                            type: array
                            items:
                              type: object
                              properties:
                                inputs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      blknum:
                                        type: integer
                                        format: int64
                                      txindex:
                                        type: integer
                                        format: int16
                                      oindex:
                                        type: integer
                                        format: int8
                                      otype:
                                        type: integer
                                        format: int8
                                      utxo_pos:
                                        type: integer
                                        format: int256
                                      owner:
                                        type: string
                                      currency:
                                        type: string
                                      amount:
                                        type: integer
                                        format: int256
                                      creating_txhash:
                                        type: string
                                      spending_txhash:
                                        type: string
                                      inserted_at:
                                        type: string
                                      updated_at:
                                        type: string
                                outputs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      amount:
                                        type: integer
                                        format: int256
                                      currency:
                                        type: string
                                      owner:
                                        type: string
                                fee:
                                  type: object
                                  properties:
                                    amount:
                                      type: integer
                                      format: int256
                                    currency:
                                      type: string
                                metadata:
                                  type: string
                                txbytes:
                                  type: string
                                sign_hash:
                                  type: string
                                typed_data:
                                  type: object
                                  properties:
                                    types:
                                      type: object
                                      properties:
                                        EIP712Domain:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                              type:
                                                type: string
                                        additionalProperties:
                                          type: array
[...]
