openapi: 3.0.0
info:
  version: 1.0.0
  title: Watcher's Informational API
  description: >
    API specification of the Watcher's Informational Service

    Error codes are available in
    [html](https://github.com/omisego/elixir-omg/blob/master/docs/api_specs/errors.md#error-codes-description)
    format.
  contact:
    name: OmiseGO
    email: omisego@omisego.co
  license:
    name: 'Apache 2.0: https://www.apache.org/licenses/LICENSE-2.0'
    url: 'https://omisego.network/'
servers:
  - url: 'https://watcher.ari.omg.network/'
  - url: 'http://localhost:7434/'
tags:
  - name: Account
    description: Account related API.
  - name: Transaction
    description: Transaction related API.
paths:
  /account.get_balance:
    post:
      tags:
        - Account
      summary: Returns the balance of each currency for the given account address.
      operationId: account_get_balance
      requestBody: &ref_0
        description: HEX-encoded address of the account
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  format: binary
              required:
                - address
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
      responses:
        '200':
          description: Account balance successful response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_1
                    description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                    required:
                      - version
                      - success
                      - data
                    example:
                      version: '1.0'
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              format: binary
                            amount:
                              type: integer
                              format: int256
                    example:
                      data:
                        - currency: '0xbfdf85743ef16cfb1f8d4dd1dfc74c51dc496434'
                          amount: 20
                        - currency: '0x0000000000000000000000000000000000000000'
                          amount: 1000000000
        '500': &ref_2
          description: Returns an internal server error
          content:
            application/vnd.omisego.v1+json:
              schema:
                description: The response schema for an error
                allOf:
                  - description: The response schema for a successful operation
                    type: object
                    properties:
                      version:
                        type: string
                      success:
                        type: boolean
                      data:
                        type: object
                    required:
                      - version
                      - success
                      - data
                    example:
                      version: '1.0'
                      success: true
                      data: {}
                  - type: object
                    properties:
                      data:
                        description: The object schema for an error
                        type: object
                        properties:
                          object:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          messages:
                            type: object
                        required:
                          - object
                          - code
                          - description
                          - messages
                    required:
                      - data
                    example:
                      success: false
                      data:
                        object: error
                        code: 'server:internal_server_error'
                        description: Something went wrong on the server
                        messages:
                          error_key: error_reason
  /account.get_utxos:
    post:
      tags:
        - Account
      summary: Gets all utxos belonging to the given address.
      operationId: account_get_utxos
      requestBody: *ref_0
      responses:
        '200':
          description: Account utxos succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            blknum:
                              type: integer
                              format: int64
                            txindex:
                              type: integer
                              format: int16
                            oindex:
                              type: integer
                              format: int8
                            utxo_pos:
                              type: integer
                              format: int256
                            owner:
                              type: string
                              format: binary
                            currency:
                              type: string
                              format: binary
                            amount:
                              type: integer
                              format: int256
                    example:
                      data:
                        - blknum: 123000
                          txindex: 111
                          oindex: 0
                          utxo_pos: 123000001110000
                          owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                          currency: '0x0000000000000000000000000000000000000000'
                          amount: 10
        '500': *ref_2
  /account.get_transactions:
    post:
      tags:
        - Account
      summary: Gets a list of transactions for given account address.
      operationId: account_get_transactions
      requestBody:
        description: Account address and optional limit
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  format: binary
                limit:
                  type: integer
                  format: int32
                  default: 200
              required:
                - address
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                limit: 100
      responses:
        '200':
          description: Transactions succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            block: &ref_3
                              type: object
                              properties:
                                timestamp:
                                  type: integer
                                  format: int64
                                hash:
                                  type: string
                                  format: binary
                                eth_height:
                                  type: integer
                                  format: int64
                                blknum:
                                  type: integer
                                  format: int64
                            txindex:
                              type: integer
                              format: int16
                            txhash:
                              type: string
                              format: binary
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                    format: binary
                                  value:
                                    type: integer
                                    format: int256
                    example:
                      data:
                        - block:
                            timestamp: 1540365586
                            hash: >-
                              0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec
                            eth_height: 97424
                            blknum: 68290000
                          txindex: 0
                          txhash: >-
                            0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21
                          results:
                            - currency: '0x0000000000000000000000000000000000000000'
                              value: 20000000
        '500': *ref_2
  /transaction.all:
    post:
      tags:
        - Transaction
      summary: Gets all transactions (can be limited with various filters).
      description: >
        Digests the details of the transaction, by listing the value of outputs,
        aggregated by currency. Intended to be used when presenting the little
        details about multiple transactions. For all details queries to
        `/transaction.get` should be made using the transaction's hash provided.
      operationId: transactions_all
      requestBody:
        description: 'Account address, block number or limit'
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  format: binary
                blknum:
                  type: integer
                  format: int64
                limit:
                  type: integer
                  format: int32
                  default: 200
              example:
                address: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                blknum: 68290000
                limit: 100
      responses:
        '200':
          description: Transactions succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            block: *ref_3
                            txindex:
                              type: integer
                              format: int16
                            txhash:
                              type: string
                              format: binary
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                    format: binary
                                  value:
                                    type: integer
                                    format: int256
                    example:
                      data:
                        - block:
                            timestamp: 1540365586
                            hash: >-
                              0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec
                            eth_height: 97424
                            blknum: 68290000
                          txindex: 0
                          txhash: >-
                            0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21
                          results:
                            - currency: '0x0000000000000000000000000000000000000000'
                              value: 20000000
        '500': *ref_2
  /transaction.get:
    post:
      tags:
        - Transaction
      summary: Gets a transaction with the given id.
      operationId: transaction_get
      requestBody:
        description: Id (hash) of the transaction
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: binary
              required:
                - id
              example:
                id: >-
                  0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21
      responses:
        '200':
          description: Transaction details succcessful response
          content:
            application/json:
              schema:
                allOf:
                  - *ref_1
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            txindex:
                              type: integer
                              format: int16
                            txhash:
                              type: string
                              format: binary
                            txbytes:
                              type: string
                              format: binary
                            block: *ref_3
                            inputs:
                              type: array
                              items: &ref_4
                                type: object
                                properties:
                                  blknum:
                                    type: integer
                                    format: int64
                                  txindex:
                                    type: integer
                                    format: int16
                                  oindex:
                                    type: integer
                                    format: int8
                                  utxo_pos:
                                    type: integer
                                    format: int256
                                  owner:
                                    type: string
                                    format: binary
                                  currency:
                                    type: string
                                    format: binary
                                  amount:
                                    type: integer
                                    format: int256
                            outputs:
                              type: array
                              items: *ref_4
                    example:
                      data:
                        txindex: 5113
                        txhash: >-
                          0x5df13a6bf96dbcf6e66d8babd6b55bd40d64d4320c3b115364c6588fc18c2a21
                        txbytes: 0x5df13a6bee20000...
                        block:
                          timestamp: 1540365586
                          hash: >-
                            0x0017372421f9a92bedb7163310918e623557ab5310befc14e67212b660c33bec
                          eth_height: 97424
                          blknum: 68290000
                        inputs:
                          - blknum: 1000
                            txindex: 111
                            oindex: 0
                            utxo_pos: 1000001110000
                            owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                            currency: '0x0000000000000000000000000000000000000000'
                            amount: 10
                        outputs:
                          - blknum: 68290000
                            txindex: 5113
                            oindex: 0
                            utxo_pos: 68290000051130000
                            owner: '0xae8ae48796090ba693af60b5ea6be3686206523b'
                            currency: '0x0000000000000000000000000000000000000000'
                            amount: 2
                          - blknum: 68290000
                            txindex: 5113
                            oindex: 1
                            utxo_pos: 68290000051130000
                            owner: '0xb3256026863eb6ae5b06fa396ab09069784ea8ea'
                            currency: '0x0000000000000000000000000000000000000000'
                            amount: 7
        '500': *ref_2
